In [1]:
x = 8
def add():
    return x + 5
print(add())

13

In [9]:
class car:
    def __init__(self,name,year,price):
        self.name = name
        self.year = year
        self.price = price
    def car(self):
        return f"car name:{self.name},car year:{self.year},car price:{self.price}"
c1 = car("honda",2024,50000)
c1.car()

'car name:honda,car year:2024,car price:50000'

In [ ]:
class student:
    def person(self):
        def __init__(self,name,self,__mark):
        self.name =  name
    self.__mark= mark

    def p1():
        return f"name{self.name},__mark{self.mark}"    #access the privet variable                                                  
    p1 =("john"50)
    print(p1.person())

IndentationError: expected an indented block after function definition on line 3 (3942000869.py, line 4)

In [ ]:
from abc import ABC, abstractmethod
class shape(ABC): #find the squre
    def start (self):
        pass
class square:
    def __init__(self.side,lenght):
        self.side_lenght
    
    def sl():

SyntaxError: invalid syntax (1410534017.py, line 6)

1.write a python program using inheritance where.
2.Developer and manager are child classes yhat inherit from Employee
3.each class should have a method show_details ()that prints employee details
    for employee :print name and salary
    for Developer:print name ,salary,and programming language
    for manager: print name,salary, and team size
creat one object each of employees ,developer,manager

In [6]:
class employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
class developer(employee):
    def __init__(self,name,salary,pr_language):
        super().__init__(self,name,salary)
        self.pr_language = pr_language
    def detials(self):
            return(f"Developer:{self.name},salary:{self.salary},language:{self.pr_language}")
class manager(employee):
     def __init__(name,salary,team_size):
        super().__init__(name,salary)
        self.team_size = team_size
     def details(self):
          return f"manager:{self.name},salary:{self.salary},team_size:{self.team_size}"
    
emp = employee("sd",222222)
dp = developer("asn",500000,"python")
mn = manager("mns",78154)
emp.details()

TypeError: employee.__init__() takes 3 positional arguments but 4 were given

1.write a python program using inheritance where.
2.Developer and manager are child classes yhat inherit from Employee
3.each class should have a method show_details ()that prints employee details
    for employee :print name and salary
    for Developer:print name ,salary,and programming language
    for manager: print name,salary, and team size
creat one object each of employees ,developer,manager

In [6]:
class employee:
    def __init__(self,name,salary):
        self.name = name
        self.salary = salary
    def show_details(self):
            print(f"name:{self.name},salary:{self.salary}")


class developer(employee):
    def __init__(self,name,salary,language):
         super().__init__(name,salary)
         self.language = language

    def show_details(self):

        print(f"name:{self.name},salary:{self.salary},language:{self.language}")

class manager(employee):
    def __init__(self, name, salary,t_size):
        super().__init__(name,salary)
        self.t_size = t_size

    def show_details(self):
        print(f"name:{self.name},salary:{self.salary},t_size:{self.t_size}")

e = employee("aju:",25000)
d = developer("sunny:",241224,"python")
m = manager("john:",50000,2100)
e.show_details()
d.show_details()
m.show_details()

name:aju:,salary:25000
name:sunny:,salary:241224,language:python
name:john:,salary:50000,t_size:2100

In [3]:
class bank_ac:
    def __init__(self,ac_holder,bank_balance):
        self.ac_holder = ac_holder
        self.bank_balance = bank_balance

    def withraw(self,amount):
        if amount > 0:
            self.bank_balance += amount
            print(f"{amount} withrawed successfully")
        else:
            print("transaction unsuccess")


    def show_Details(self):
        print(f"account_holder:{self.ac_holder},bank_balance:{self.bank_balance}")
        print(f"current_balance:{self.bank_balance}")

a1 = bank_ac("naheem",2020)
a1.withraw(1000)
a1.show_Details()

1000 withrawed successfully
account_holder:naheem,bank_balance:3020
current_balance:3020

1.Create a base class Person with attributes name and age. Derive a class Employee that adds salary. Show how to create an object of Employee and display all details.

In [9]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age

    def employee(self,salary):
        self.salary = salary
        
    def call(self):
        print(f"name:{self.name},age:{self.age},salary:{self.salary}")

a1 = Person("Naheem",24)
a1.employee(500000)
a1.call()

name:Naheem,age:24,salary:500000

2.Implement a class hierarchy:Vehicle (base) with method start_engine().

Car (derived) with additional method play_music().

ElectricCar (derived from Car) with method charge_battery().
Demonstrate creating objects and calling all relevant methods.

In [ ]:
class vehicle:
    def __init__(self,name):
        self.name = name
        print("engine startet")

    def start_engine(self):
    
    def car(vehicle):
        print("palaying music")
    def play_music(self):

IndentationError: expected an indented block after function definition on line 6 (3246177060.py, line 8)