In [10]:
x = int(input("Enter the number:"))
if x%2==0:
    
    print("You entered a even number")
else:
    print("You entered a odd number")

You entered a even number

In [13]:
x = int(input("Enter the First number:"))
y = int(input("Enter the Second number:"))

if x>y:
    print("The largest number is",x)
else:
    print("The largest number is",y)

The largest number is 50

In [34]:
x = int(input("enter the year:"))

if x%400==0:
    print("You entered a leap year")
elif x%100==0:
    
    print("you entered not leap year")
elif x%4==0:
     print("You entered a leap year")
else:
    print("this is not leap year")

You entered a leap year

In [40]:
x = int(input("enter the number:"))
fact = 1
for x in range(1,x+1):
    fact *=x
print("The factorial",x,"of",fact)

The factorial 4 of 24

In [41]:
import numpy as np

In [70]:
x = np.arange(5)
x[::-1]

array([4, 3, 2, 1, 0])

In [1]:
x = int(input("Enter the number:"))
r = 0
while x > 0:
    d = x%10
    r = r*10+d
    x //=10
print("Reversed number is",r)

Reversed number is 654321

In [80]:
x = int(input("Enter the number:"))
r = 0
while x>0:
    digit = x%10
    r = r*10+digit
    x //=10
print("The reversed number is",r)

The reversed number is 54321

In [39]:
def addition(x,y):
    return x+y
def calcu():
    a = int(input("Enter the first number:"))
    b = int(input("Enter the second number:"))
    result =addition(a,b)
    print("sum is",result)
calcu()

sum is 7

In [43]:
def factorial(a,b):
x = int(input("enter the number:"))
fact = 1
for x in range(1,x+1):
    fact *=x
print("The factorial",x,"of",fact)

IndentationError: expected an indented block after function definition on line 1 (673667191.py, line 2)

In [59]:
even=[i for i in range (10)if i%2==0]
print("even is",even)
odd=[i for i in range (10)if i%2!=0]
print("odd is",odd)

even is [0, 2, 4, 6, 8]
odd is [1, 3, 5, 7, 9]

In [80]:
fruit = ["apple","banana","kiwi","grapefruit"]
lt = [f for f in fruit if len(f)>5]
print(lt)

['banana', 'grapefruit']

In [1]:
dit =[{"Name":"John","Age":20},{"Name":"ali","Age":25,}]
names = [d["name"] for d in dit]
print(names)

KeyError: 'name'

In [112]:
dit =[{"Name":"John","Age":20},{"Name":"ali","Age":25,}]
names = [d["Name"] for d in dit]
print(names)

['John', 'ali']

In [ ]:
l = [[1,2,3,],[4,5,6],[7,8,9]]
l1 =

1 2 3 4 5 6 7 8 9

In [ ]:
list =[]
list.append[5]

In [ ]:
l1 = 0
if l1 > 
for l in l1 (1,21,1):
    print(l1)

TypeError: 'int' object is not callable

In [1]:
x = 5 
print(x)

5

In [ ]:
x = 5

naheem =input("enter the number:")

print(type(naheem))

<class 'float'>

In [10]:
x = 5

y = int(input("enter the number:"))
if y > x:
    print(x)
elif:
    y < x:
print(x)

SyntaxError: invalid syntax (1404170635.py, line 6)