In [5]:
class employee:
    def __init__(self,name):
        self.name = name

    def calculate_salary(self):
        pass

class fulltime_employee(employee):
    def __init__(self,name,monthly_salary):
        super().__init__(name)
        self.monthly_salary = monthly_salary

    def calculate_salary(self):
        return self.monthly_salary
    pass
class parttime_employee(employee):
    def __init__(self,name,hourly_rate,hourly_worked):
        super().__init__(name)
        self.hourly_rate = hourly_rate
        self.hourly_worked = hourly_worked

    def calculate_salary(self):
        return self.hourly_worked * self.hourly_rate
        
        pass
e  = employee("jhon")
e.calculate_salary()

f = fulltime_employee("nahee",25000)
f.calculate_salary()

p = parttime_employee("naheem",10,250)
p.calculate_salary()

2500

In [2]:
x = 0
for i in range(1,51,1):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [4]:
n = int(input("Enter the number:"))
for i in range(1,11):
    print(i*n)

7
14
21
28
35
42
49
56
63
70

In [17]:
n = int(input("enter the number:"))
sum = 0
for i in range(1,n+1,2):

    sum = sum+i
print(sum)

9

In [20]:
n = 5
fact = 1
for i in range(1,n+1,2):
    fact*=i
    print("fact is",fact)

fact is 1
fact is 3
fact is 15

In [24]:
u = 2
while u<=20:
    print(u,end=" ")
    u +=2

2 4 6 8 10 12 14 16 18 20